$main-color: #736f70;
$sec-color: #FFFFFF;

$bac-color: #736f7070;
$bac-sec-color: rgba(115, 111, 112, .2);

.navigation-bar {
  z-index: 999 !important;
  left: 0;
  margin: 0 !important;
  background: $bac-sec-color !important;
  border-bottom: 1px solid $main-color !important;
  box-shadow: 0 0 0 !important;
  border-radius: 0 !important;

  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  transition: all 200ms;


  @for $i from 0 through 100 {
    &[data-top="#{$i}"] {
      background-color: rgba(115, 111, 112, calc(0.2 + (#{$i} * 0.006))) !important;
      .logo {
        padding: calc(9px - (#{$i} / 9)) !important;
        img {
          width: calc(170px - #{$i}px) !important;
          padding-left: calc(50px - #{$i / 2}px) !important;
        }
      }
    }
  }

  &.expanded {
    .logo {
      img {
        width: 170px !important;
        position: absolute;
        padding-left: 50px;
      }
    }
  }


  .logo {
    transition: all 200ms;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    padding: 0px;

    img {
      transition: all 200ms;
      width: auto !important;
      height: 50px !important;
      margin-top: 5px;
      position: absolute;
    }
  }

  .item {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;

    height: 60px;
    display: block !important;

    padding-left: 0 !important;
    padding-right: 0 !important;


    &:after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: $main-color;
      transition: width .3s ease;
    }

    &.active, &:hover {
    }

    &.active::after, &:hover::after {
      width: 100%;
    }

    .social-link {
      height: 44px;
      text-align: center;
      vertical-align: middle;
      display: table-cell;

      color: $sec-color;
      font-weight: 700 !important;
      padding: 0 20px 4px 20px !important;
    }

    .menu-link {
      height: 44px;
      text-align: center;
      vertical-align: middle;
      display: table-cell;

      color: $sec-color;
      font-weight: 700 !important;
      padding: 0 40px 4px 40px !important;

      &:after {
        content: '';
        display: block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $sec-color;
        position: absolute;
        right: 0;
        top: 50%;
        margin-right: -2px;
        z-index: 9999;
      }
    }
  }
  .item:last-of-type {
    .menu-link {
      &:after {
        content: '';
        display: none;
      }
    }
  }
}
