#app {
  width:  100% !important;
}
.landing.layout {
  height: 100% !important;
  display: inline-block;
  width: 100% !important;
  background: rgba(226, 226, 222, 0.22);

  .navbar {

  }

  .container-wrapper {
  }


  .page-container {
    background-color: white;

    padding-top: 60px;
  }


}
