body {
  overflow: hidden !important;
  background-image: linear-gradient(to left top, #e9d362, #afcd6f, #7cc283, #57b295, #49a09d) !important;
}
#app {
  background-color: transparent !important;
}

.authentication.layout {
  height: 100% !important;
  display: inline-block;
  overflow: hidden;
  width: 100% !important;

  .card {
    background: transparent;
    border: none;
    z-index: 3;
    display: block;
    height: 100% !important;
    flex-grow: 0 !important;
    padding: calc(40vh - 260px) 20% 50px 20%;
    box-shadow: 0 0px 37px -23px #d4d4d5, 0 0 0 -1px #cee90c38 !important;

    .logo-wrapper {
      font-family: 'Open Sans', sans-serif !important;
      text-size-adjust: 100%;
      line-height: 56.999px !important;
      box-sizing: border-box;
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      opacity: 1;
    }

    .logo-subtext {
      font-weight: 400;
      font-size: 9pt;
      margin-bottom:20px !important;
    }
  }

  .rocket-svg {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40%;
    z-index: 1;
  }

  .inner-wrap, .wrap-fluid, .stretched {
    height: 100%;
  }


  .logo-text {
    position: absolute;
    font-family: 'Open Sans', sans-serif !important;
    text-size-adjust: 100%;
    line-height: 56.999px !important;
    box-sizing: border-box;
    top: 50vh;
    z-index: 5;
    left: 25vw;
    width: 200px;
    text-align: center;
    height: 120px;
    font-size: 50px;
    font-weight: 800;
    color: #ffffff;
    opacity: 1;
    will-change: opacity;
    margin: -60px 0 0 -100px;
    &:before {
      display: block;
      position: absolute;
      right: 4px;
      bottom: 0px;
      width: 91px;
      height: 3px;
      background-color: #CEE800;
      content: "";
    }
  }

  .authentication-form {
    padding-top: 130px;
    margin-left: auto;
    margin-right: auto;
  }

  @media all and (max-width: 991px) {
    .authentication-form {
      width: 100% !important;
      margin-left: auto;
      margin-right: auto;
    }
    .card {
      padding: calc(29vh - 260px) 50px 50px 50px !important;
    }
  }

  #loginForm {
    padding: 20px 0 40px 0;
    -webkit-box-shadow: 0 -1px 0 0 rgba(34, 36, 38, .15);
    box-shadow: 0 -1px 0 0 rgba(34, 36, 38,.15);
  }
}
