html, body, #app {
  background-color: #f8f8f9 !important;
}

#app {
  height: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.cursor-pointer {
  cursor: pointer;
}


.pagination-margin-top {
  margin-top: 100px;
}

.ui.inverted.menu .dropdown.item:hover, .ui.inverted.menu .link.item:hover, .ui.inverted.menu a.item:hover, .ui.link.inverted.menu .item:hover {
  background: #c4596955;
  color: #fff;
}

.grid-holder {
  .row {
    .column {
      form {
        padding: 1rem !important;
        position: relative;
        background: #fff;
        box-shadow: 0 1px 2px #ccc;
        transition: box-shadow 100ms;

        &:hover {
          box-shadow: 0 4px 8px #ccc;
        }
      }
    }
  }
}

.ui.input > .ui.corner.label {
  z-index: 0;
}


@media only screen and (max-width: 767px) {
  .ui.container {
    width: auto !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
