.page-container.error404 {
  margin-top: 20vh;
  background-color: transparent !important;
}

@keyframes fireColor {
  0% {
    opacity: 1;
  }
  10% {
    opacity: .5;
  }
  50% {
    opacity: .8;
  }
  80% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
}
