<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <link rel="manifest" href="/manifest.json">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com">
    <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#f7f7f7">
    <meta name="theme-color" content="#f7f7f7">

    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/icon-128x128.png">
    <link rel="apple-touch-icon" href="/images/icons/icon-72x72.png">
    <link rel="apple-touch-startup-image" href="/images/icons/icon-192x192.png">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800&display=swap" rel="stylesheet">
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" type="text/css"/>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/loader.min.css" type="text/css"/>
    <title>React skeleton - DrukkaDigitals</title>
    <style>
        /* Force Simple Scrollbars */

        ::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
            height: 10px;
        }

        ::-webkit-scrollbar-track {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 0px;
        }

        ::-webkit-scrollbar-thumb {
            cursor: pointer;
            border-radius: 5px;
            background: rgba(0, 0, 0, 0.25);
            -webkit-transition: color 0.2s ease;
            transition: color 0.2s ease;
        }

        ::-webkit-scrollbar-thumb:window-inactive {
            background: rgba(0, 0, 0, 0.15);
        }

        ::-webkit-scrollbar-thumb:hover {
            background: rgba(128, 135, 139, 0.8);
        }

        :after, :before {
            box-sizing: inherit;
        }
        html {
            box-sizing: border-box;
        }

        html, body  {
            overscroll-behavior: none;
            background-color: #191919;
            margin: 0;
            padding: 0;
            top: 0;
            left: 0;
        }
    </style>
    <style id="PWASplashScreenStyle">
        .ui.inverted.dimmer .ui.loader, .ui.loader {
            width: 4.285714rem !important;
            height: 4.285714rem !important;
            font-size: 10px !important;
            display: block !important;
            z-index: 9999999 !important;
            opacity: 0;
            transition: opacity 200ms;
            -webkit-animation: on .10s ease-in-out 3.7s forwards;
            -moz-animation: on .10s ease-in-out 3.7s forwards;
            -o-animation: on .10s ease-in-out 3.7s forwards;
            animation: on .10s ease-in-out 3.7s forwards;
        }

        .ui.loader:after, .ui.loader:before {
            width: 3.285714rem !important;
            height: 3.285714rem !important;
            margin: 0 0 0 -1.14285714rem !important;
        }
        .text {
            opacity: 0;
            position: absolute;
            z-index: 999998 !important;
            text-align: left;
            margin: -104px 0 0 -133px;
            width: 265px;
            height: 208px;
            top: 50%;
            left: 50%;
            font-size: 48px;
            font-weight: 700;
            -webkit-animation: on .10s ease-in-out 3.7s forwards;
            -moz-animation: on .10s ease-in-out 3.7s forwards;
            -o-animation: on .10s ease-in-out 3.7s forwards;
            animation: on .10s ease-in-out 3.7s forwards;
        }

        .text p {
            margin: 0 !important;
            line-height: 4rem !important;
            white-space: nowrap;
            overflow: hidden;
            width: 100%;
            -webkit-animation: type .3s steps(60, end) 3.7s;
            -moz-animation: type .3s steps(60, end) 3.7s;
            -o-animation: type .3s steps(60, end) 3.7s;
            animation: type .3s steps(60, end) 3.7s;
        }

        .text p:nth-child(2) {
            -webkit-animation: type2 .6s steps(60, end) 3.7s;
            -moz-animation: type2 .6s steps(60, end) 3.7s;
            -o-animation: type2 .6s steps(60, end) 3.7s;
            animation: type2 .6s steps(60, end) 3.7s;
        }

        .text p:nth-child(3) {
            -webkit-animation: type2 .8s steps(60, end) 3.7s;
            -moz-animation: type2 .8s steps(60, end) 3.7s;
            -o-animation: type2 .8s steps(60, end) 3.7s;
            animation: type2 .8s steps(60, end) 3.7s;
        }

        .text button {
            border: 0;
            opacity: 0;
            background: #191919;
            color: #CEE800;
            border: 1px solid #191919;
            letter-spacing: 2px;
            padding: .5rem 2.5rem;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
            cursor: pointer;
            -webkit-transition: color 1s, background-color 0.5s;
            -moz-transition: color 1s, background-color 0.5s;
            -ms-transition: color 1s, background-color 0.5s;
            -o-transition: color 1s, background-color 0.5s;
            transition: color 1s, background-color 0.5s;
        }

        .text button.animated {

            -webkit-animation: on .6s ease-in-out 2.3s forwards;
            -moz-animation: on .6s ease-in-out 2.3s forwards;
            -o-animation: on .6s ease-in-out 2.3s forwards;
            animation: on .6s ease-in-out 2.3s forwards;
        }

        .text button:hover {
            background: #CEE800;
            color: #191919;
            border: 1px solid #191919;
        }

        .splash_content {
            display: block;
            transition: display .2s ease-out;
        }

        .splash {
            background-color: #191919 !important;
            font-family: 'Open Sans', sans-serif !important;
            z-index: 999997 !important;
            width: 100vw;
            height: 100vh;
            position: fixed;
            top: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            overflow: hidden;
        }

        .splash_logo_image {
            display: none;
            position: absolute;
            width: 100px;
            top: -40px;
            z-index: 1;
            left: -50px;
            opacity: .2;
        }

        .splash_logo {
            position: absolute;
            font-family: 'Open Sans', sans-serif !important;
            text-size-adjust: 100%;
            line-height: 56.999px !important;
            box-sizing: border-box;
            top: 50vh;
            z-index: 5;
            left: 50vw;
            width: 200px;
            text-align: center;
            height: 120px;
            font-size: 50px;
            font-weight: 800;
            color: #ffffff;
            opacity: 1;
            will-change: opacity;
            margin: -60px 0 0 -100px;
            -webkit-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
            -moz-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
            -o-animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
            animation: logo .3s ease-in 1.5s forwards, off .6s ease-in-out 3.2s forwards;
        }

        .splash_logo:before {
            display: block;
            position: absolute;
            right: 4px;
            bottom: 0px;
            width: 91px;
            height: 3px;
            background-color: #CEE800;
            content: "";
        }

        .splash_logo:after {
            display: block;
            position: absolute;
            left: 15px;
            top: -5px;
            width: 20px;
            height: 1px;
            background-color: #CEE800;
            will-change: width;
        }

        .splash_svg {
            position: relative;
            margin: auto;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            right: 0;
        }

        .splash_svg svg {
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
        }

        .splash_svg svg rect {
            width: 100%;
            height: 100%;
            fill: #CEE800;
            stroke: 0;
            -webkit-clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
            clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
            -webkit-animation: expand .7s ease-in forwards 2.7s;
            -moz-animation: expand .7s ease-in forwards 2.7s;
            -o-animation: expand .7s ease-in forwards 2.7s;
            animation: expand .7s ease-in forwards 2.7s;
        }

        .splash_minimize {
            position: absolute;
            margin: auto;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 4;
        }

        .splash_minimize svg {
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
        }

        .splash_minimize svg rect {
            width: 100%;
            height: 100%;
            -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
            clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
            -webkit-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
            -moz-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
            -o-animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
            animation: scale .2s ease-out forwards 1s, hide 1.3s ease-out forwards 1.2s;
        }

        @keyframes fadein {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        @keyframes fadeout {
            from {
                opacity: 1;
            }
            to {
                opacity: 0;
                display: none;
            }
        }

        @-webkit-keyframes scale {
            100% {
                -webkit-clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
            }
        }

        @-moz-keyframes scale {
            100% {
                -webkit-clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
            }
        }

        @-o-keyframes scale {
            100% {
                -webkit-clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
            }
        }

        @keyframes scale {
            100% {
                -webkit-clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(calc(50vw - 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
            }
        }

        @-webkit-keyframes hide {
            100% {
                fill: transparent;
            }
        }

        @-moz-keyframes hide {
            100% {
                fill: transparent;
            }
        }

        @-o-keyframes hide {
            100% {
                fill: transparent;
            }
        }

        @keyframes hide {
            100% {
                fill: transparent;
            }
        }

        @-webkit-keyframes off {
            100% {
                opacity: 0;
            }
        }

        @-moz-keyframes off {
            100% {
                opacity: 0;
            }
        }

        @-o-keyframes off {
            100% {
                opacity: 0;
            }
        }

        @keyframes off {
            100% {
                opacity: 0;
            }
        }

        @-webkit-keyframes on {
            100% {
                opacity: 1;
            }
        }

        @-moz-keyframes on {
            100% {
                opacity: 1;
            }
        }

        @-o-keyframes on {
            100% {
                opacity: 1;
            }
        }

        @keyframes on {
            100% {
                opacity: 1;
            }
        }

        @-webkit-keyframes logo {
            100% {
                color: #292929;
            }
        }

        @-moz-keyframes logo {
            100% {
                color: #292929;
            }
        }

        @-o-keyframes logo {
            100% {
                color: #292929;
            }
        }

        @keyframes logo {
            100% {
                color: #292929;
            }
        }

        @-webkit-keyframes type {
            0% {
                width: 0;
            }
        }

        @-moz-keyframes type {
            0% {
                width: 0;
            }
        }

        @-o-keyframes type {
            0% {
                width: 0;
            }
        }

        @keyframes type {
            0% {
                width: 0;
            }
        }

        @-webkit-keyframes type2 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            100% {
                width: 100;
            }
        }

        @-moz-keyframes type2 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            100% {
                width: 100;
            }
        }

        @-o-keyframes type2 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            100% {
                width: 100;
            }
        }

        @keyframes type2 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            100% {
                width: 100;
            }
        }

        @-webkit-keyframes type3 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            75% {
                width: 100;
            }
            100% {
                width: 100;
            }
        }

        @-moz-keyframes type3 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            75% {
                width: 100;
            }
            100% {
                width: 100;
            }
        }

        @-o-keyframes type3 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            75% {
                width: 100;
            }
            100% {
                width: 100;
            }
        }

        @keyframes type3 {
            0% {
                width: 0;
            }
            50% {
                width: 0;
            }
            75% {
                width: 100;
            }
            100% {
                width: 100;
            }
        }

        @-webkit-keyframes expand {
            25% {
                -webkit-clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: white;
            }
            50% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: #CEE800;
            }
            75% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                fill: white;
            }
            100% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                fill: #CEE800;
            }
        }

        @-moz-keyframes expand {
            25% {
                -webkit-clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: white;
            }
            50% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: #CEE800;
            }
            75% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                fill: white;
            }
            100% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                fill: #CEE800;
            }
        }

        @-o-keyframes expand {
            25% {
                -webkit-clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: white;
            }
            50% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: #CEE800;
            }
            75% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                fill: white;
            }
            100% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                fill: #CEE800;
            }
        }

        @keyframes expand {
            25% {
                -webkit-clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, calc(50vw + 180px) calc(50vh - 110px), calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: white;
            }
            50% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), calc(50vw - 180px) calc(50vh + 110px));
                fill: #CEE800;
            }
            75% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, calc(50vw + 180px) calc(50vh + 110px), 0vw 100vh);
                fill: white;
            }
            100% {
                -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
                fill: #CEE800;
            }
        }


        .ui.loader:after, .ui.loader:before {
            width: 4.285714rem;
            height: 4.285714rem;
            margin: 0 0 0 -1.14285714rem;
        }

        }
        .ui.inverted.dimmer .ui.loader, .ui.loader {
            width: 4.285714rem;
            height: 4.285714rem;
            font-size: 5px;
        }

    </style>
</head>
<body>
<div class="splash_content" id="PWASplashScreen">
    <div class="splash">
        <div class="splash_logo">
            Drukka Digitals
        </div>
        <div class="splash_svg">
            <svg width="100%" height="100%">
                <rect width="100%" height="100%"/>
            </svg>
        </div>

        <div class="splash_minimize">
            <svg width="100%" height="100%">
                <rect width="100%" height="100%"/>
            </svg>
        </div>
    </div>
    <div class="ui loader" id="PWALoader"></div>
    <div class="text">
        <p>Készen állsz</p>
        <p>valami</p>
        <p>újra?</p>
        <button id="PWAGoToDashboardButton">Vezérlőpult</button>
    </div>
</div>
<div id="app"></div>
<script>
  const PWASplashScreen = document.getElementById("PWASplashScreen");
  const PWAGoToDashboardButton = document.getElementById("PWAGoToDashboardButton");
  const PWASplashScreenStyle = document.getElementById("PWASplashScreenStyle");

  const clearSplashDOM = () => {
    PWASplashScreen.style.display = "none";
    PWASplashScreen.remove();
    PWASplashScreenStyle.remove();
  };

  PWAGoToDashboardButton.addEventListener("click", function () {
    PWASplashScreen.style.animation = "fadeout 0.5s";
    setTimeout(clearSplashDOM, 500);
  });
</script>
</body>
</html>
