.sidebar-component {
  transition: all 200ms !important;
  overflow-x: hidden !important;
  -webkit-box-shadow: inset -50px 0px 24px -31px rgba(0, 0, 0, 0.15);
  box-shadow: inset -50px 0px 24px -31px rgba(0, 0, 0, 0.15);
  background: #262F39 !important;
  /* Sidebar Header logo */
  .sidebar-header {
    text-align: center;
    height: 70px;
    h2 {
      padding-top: 20px;
      color: white;
    }
    &.expanded {
      .image {
        height: 102px !important;
        width: 200px !important;
        margin: 5px auto 10px;
      }
    }

    .image {
      height: 32px !important;
      width: 36px !important;
      margin: 10px auto 20px;
    }
  }

  .sidebar-footer {
    position: absolute;
    width: 100%;
    bottom: 30px;
    margin: 0 auto !important;

    .user-profilephoto {
      width: 50px !important;
      transition: all 50ms;
    }

    h3 {
      color: #b5b5b5;
      margin: 10px;
      opacity: 0;
      height: 23px !important;
      transition: all 50ms;
      transition-delay: 0ms;
    }

    &.expanded {
      //bottom: calc((100vh - 450px) * -1);
      margin: 0 auto !important;

      h3 {
        color: #b5b5b5;
        margin: 10px;
        opacity: 1;
        height: 23px !important;
        transition: all 50ms;
        transition-delay: 50ms;
      }

      .user-profilephoto {
        width: 120px !important;
      }
    }
  }

  .menu-label {
    transition: all 300ms;
    transition-delay: 100ms;
    opacity: 1;
    white-space: nowrap;
  }

  .menu-link {
    .icon {
      transition: all 180ms;
      transition-delay: 150ms !important;
      position: relative;
    }
  }

  &.thin {
    .menu-link {
      //padding: 20px 12px 20px 12px !important;
      .icon {
        left: -22px;
      }
    }
    .menu-label {
      transition-delay: 0ms !important;
      transition: all 100ms !important;
      opacity: 0;
      position: absolute;
    }
  }


  .menu-link {
    transition: all 200ms;
    height: 60px !important;
    background-color: #262F39 !important;
    color: white !important;
    padding: 20px 70px 20px 70px !important;
    &:hover, &:active {
      background-color: #3d4b5a !important;
    }

    .icon {
      margin-top:-5px !important;
    }
  }
}


.closed {
  .pusher {
    width: calc(100% - 60px);
  }
}

.pusher {
  width: calc(100% - 350px);
  transition-delay: 0ms !important;
}
